.Card {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fdd2d2;
    box-shadow: 1px 1px 10px -1px rgba(100, 100, 100, 0.5);
    margin-right: 10px;
}
.Header {
    padding: 5px;
    margin-bottom: 20px;
}
.Subtitle {
    color: gray;
}